@import '@/sass/abstracts/variables';
@import 'bootstrap/scss/mixins';

.columnaDetalle {
  height: 800px;
  overflow: auto;
}
.customRow {
  margin-top: 8rem;
}

.tableParagraph {
  white-space: pre-line;
  span {
    font-weight: bold;
  }
}
