@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

//Colors
$desactivado: #898989;

$persian-blue50: #e9f4ff;
$persian-blue100: #d6ebff;
$persian-blue200: #b5d8ff;
$persian-blue300: #89bdff;
$persian-blue400: #5b93ff;
$persian-blue500: #3669ff;
$persian-blue600: #133aff;
$persian-blue700: #092ef9;
$persian-blue800: #0c2ed4;
$persian-blue900: #142f9b;
$persian-blue950: #0c195a;
