@import '@/sass/abstracts/variables';
@import 'bootstrap/scss/mixins';

.suggestionBox {
  height: auto;

  /* width: 300px; */
  max-height: 100px;
  width: 100%;
  background-color: $white;
  overflow: auto;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 500;
  @include media-breakpoint-up(xl) {
    max-height: 150px;
  }
}

.suggestion {
  margin: 0px;
  cursor: pointer;
}
.searchBarContainer {
  position: relative;
  z-index: 1000;
}

.botonCerrar {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  cursor: pointer;
}
